/* Base styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.5s ease-in-out;
}

body {
    background-color: #f9f9f9; /* Default white theme background */
    color: #333;
}

body.dark-theme {
    background-color: #333;
    color: #fff;
}

header {
    background-color: #fff;
    color: #333;
    padding: 20px 2em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

body.dark-theme header {
    background-color: #222;
    color: #fff;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav a {
    color: #007ACC;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.5s, transform 0.5s;
}

body.dark-theme header nav a {
    color: #ddd;
}

header nav a:hover {
    color: #005fa3;
    transform: scale(1.1);
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px 20px;
    transition: transform 0.5s ease-in-out;
}

.content {
    max-width: 600px;
    width: 100%;
}

.content h1, .content h2 {
    color: #007ACC;
    font-size: 2.5rem;
    transition: color 0.5s ease-in-out;
}

body.dark-theme .content h1, body.dark-theme .content h2 {
    color: #ffffff;
}

.content p {
    color: #666;
    font-size: 1.2rem;
    line-height: 1.6;
}

body.dark-theme .content p {
    color: #ccc;
}

.image img {
    max-height: 80vh;
    max-width: 100%;
    border-radius: 10px;
    transition: filter 0.5s ease-in-out;
}

.image img:hover {
    filter: brightness(1.2);
}

@media (max-width: 768px) {
    .content h1, .content h2 {
        font-size: 2rem;
    }
}

/* Button Style */
.theme-toggle {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #007ACC;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    
}

.theme-toggle:hover {
    background-color: #005fa3;
}

body.dark-theme .theme-toggle {
    background-color: #555;
}

body.dark-theme .theme-toggle:hover {
    background-color: #777;
}
